<!DOCTYPE html>
<html>
<head>
	<title>Rubik Cube built with AngularJS</title>
  	<!--angular-->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
	<script src="https://code.angularjs.org/1.5.6/angular-touch.min.js"></script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

	<!--css-->
	<link rel="stylesheet" href="css/index.css">
	
	<!--js-->
	<script src="js/app.js"></script>
	<script src="js/directive.js"></script>
 	<script src="js/controllers.js"></script>

</head>
<body ng-app="cubeApp" ng-controller="cubeCon">

<div class="top-bar">
	<div class="top-bar-list">
		<div class="top-bar-list-item-left">
			<p class="font-title-sm"></p>
		</div>
		<div class="top-bar-list-item-right">
			<button  class="font-title-sm btn btn-primary button_pannel_show" type="button" data-toggle="collapse" data-target="#button_pannel_container">Show/Hide buttons</button>
			<button  class="font-title-sm btn btn-primary" type="button" data-toggle="modal" data-target="#About">About</button>			
		</div>
	</div>

</div>

<div class = "main_area">
	<div id="About" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Notice</h4>
	      </div>
	      <div class="modal-body">
	        <p>1.Use rotation buttons on the left or click the arrows on the cube to rotate</p>
	        <p>2.Drag to rotate the whole cube</p>
	        <p>3.This application is still under development.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>

	<cube></cube>

	<div class = "button_pannel">

		<div class="checkbox">
			<label><input type="checkbox" ng-model = "disableAimation" ><span class = "button_pannel-title">Disable rotate animation</span></label>
		</div>

		<div id = "button_pannel_container" class="collapse in">


			<div class="button_pannel_area">
				<div class = "button_pannel-title">Clocwise face rotations</div>
				<div ng-repeat="buttonsValue in pannelButtonMaping0">
					<span ng-repeat="button in buttonsValue">
						<button type="button" class="btn btn-default" ng-disabled= "isProcessing" ng-click="Notation(button.value)">{{button.value}}</button>
					</span>
				</div>	
			</div>

			<div class="button_pannel_area">
				<div class = "button_pannel-title">Counterclocwise face rotations</div>
				<div ng-repeat="buttonsValue in pannelButtonMaping1">
					<span ng-repeat="button in buttonsValue">
						<button type="button" class="btn btn-default" ng-disabled= "isProcessing" ng-click="Notation(button.value)">{{button.value}}</button>
					</span>
				</div>	
			</div>	

			<div class="button_pannel_area" ng-class="{button_pannel_area_disappear: cubeDimension % 2 == 0}">
				<div class = "button_pannel-title">Slice turns</div>
				<div ng-repeat="buttonsValue in pannelButtonMaping2">
					<span ng-repeat="button in buttonsValue">
						<button type="button" class="btn btn-default" ng-disabled= "isProcessing" ng-click="Notation(button.value)">{{button.value}}</button>
					</span>
				</div>	
			</div>		

			<div class="button_pannel_area">
				<div class = "button_pannel-title">Whole cube rotations</div>
				<div ng-repeat="buttonsValue in pannelButtonMaping3">
					<span ng-repeat="button in buttonsValue">
						<button type="button" class="btn btn-default" ng-disabled= "isProcessing" ng-click="Notation(button.value)">{{button.value}}</button>
					</span>
				</div>	
			</div>	

			<div class="button_pannel_area">		
				<div class = "button_pannel-title">Random rotations</div>
				<button type="button" class="btn btn-default" ng-click="RandomMovement()" ng-disabled= "isProcessing">Random Move</button>
				<button type="button" class="btn btn-default" ng-click="RandomInitialization()" ng-disabled= "isProcessing">Randomize</button>
			</div>

			<div class="button_pannel_area">		
				<div class = "button_pannel-title">Transform to</div>
				<button type="button" class="btn btn-default" ng-click="transformTo(2)">2x2</button>
				<button type="button" class="btn btn-default" ng-click="transformTo(3)">3x3</button>
				<button type="button" class="btn btn-default" ng-click="transformTo(4)">4x4</button>
						
				</br>
				<button type="button" class="btn btn-default" ng-click="transformTo(5)">5x5</button>	
				<button type="button" class="btn btn-default" ng-click="transformTo(6)">6x6</button>
				<button type="button" class="btn btn-default" ng-click="transformTo(7)">7x7</button>

			</div>

		</div>




	</div>
	<!--
	<div ng-repeat="(x,y) in facesMaping">
		<div ng-repeat="(i,j) in y">
		{{x}}--{{i}}--{{j}}
		</div>n
	</div>-->
</div>

	




</body>
</html>